<div class="viz-container">

<h2>Electric Vehicle Data Story</h2>

<!-- Dashboard 1 -->
<h3>EV Model Comparison</h3>
<iframe 
src="https://public.tableau.com/app/profile/shubham.singh1182/viz/BatteryPerformanceAnalysisDashboard/Dashboard2"
width="100%" 
height="600">
</iframe>

<!-- Dashboard 2 -->
<h3>Battery Performance Analysis</h3>
<iframe 
src="https://public.tableau.com/app/profile/shubham.singh1182/viz/EVChargingEfficiencyAnalysisDashboard/Dashboard2"
width="100%" 
height="600">
</iframe>

<!-- Dashboard 3 -->
<h3>Charging Efficiency Analysis</h3>
<iframe 
src="https://public.tableau.com/app/profile/shubham.singh1182/viz/EVModelComparisonDashboard/Dashboard3"
width="100%" 
height="600">
</iframe>

</div>